@charset "UTF-8";

/* Typical Device Breakpoints 

Pequenas telas: até 600px
Celular: de 600px 768px
Tablet: 769 até 992px
Desktop: 993px até 1200px

Grandes Telas: acima de 1200px
*/


@media screen and (min-width: 769px) and (max-width: 992px){
    .rede-social{
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .rede-social img{
        width: 60px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.574);
    }
}

@media screen and (min-width: 993px) {
    .rede-social{
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .rede-social img{
        width: 60px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.574);
    }
}